* {
  text-align: center;
  color: #314d59;
}

.content{
  height: 100vh;
  width: 100vw;
  background-color: #fcfcf9;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.mappings_container{
  margin-top: 11.8vh;
  width: 61.8%;
  min-height: 38.2vh;
}

.mappings_table {
  width: auto;
  border: 3px solid #000000;
  border-radius: 10px;
  overflow-y:scroll;
}